<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml">

<meta charset="UTF-8">


<head>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <title>EventAdd</title>
</head>


<head>

    <title>create</title>
</head>
<body>

<div class="container">
<form method="POST" th:action="@{/create}">
    <table>
        <tr>
            <input type="hidden" th:field="${ActivityModel.id}">
            <td><label>Aktivitets Navn:</label></td>
            <td><input type="text" th:field="${ActivityModel.name}" required="required"></td>
        </tr>
        <tr>
            <td><label>Aktivitets Aldersgrænse:</label></td>
            <td><input type="number"  th:field="${ActivityModel.ageRestriction}" required="required"></td>
        </tr>
        <tr>
            <td><label>Aktivitets Beskrivelse:</label></td>
            <td><input type="text" th:field="${ActivityModel.description}" required="required"></td>
        </tr>
    </table>
    <input type="submit"   value="Send"   />
</form>
</div>






</body>
</html>