<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
</head>
<body style="background-color: #4fabff">
    <div  style="background-color: #4fabff; position: relative">
        <h1 style="text-align: center; color: #edf6ff;">Aktiviteter</h1>
        <button style="position: absolute; top: 12px; right: 20px; font-size: 100%; border-radius: 8px" onclick="window.location.href = '/login'">Login</button>
        <hr>

        <div th:if="${message}" th:text="${message}"/>
        <table style="border: 1px solid #000000; display: flex; text-align: center; align-content: center; justify-content: center">
            <tr style="display: flex; text-align: center; " th:each="activity : ${activities}">
                <td style="border: 1px solid black; background-color: #edf6ff;  margin-bottom: 2px; margin-top: 2px; border-radius: 8px; text-align: center; width: 200px; ">
                    <a style="text-decoration: none" th:href="${'/details?id=' + activity.getid()}" th:text="${activity.name}"></a>
                </td>

            </tr>
        </table>
    </div>
</body>
</html>