<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
</head>
<body>
    <div  style="background-color: #d6d6d6">
        <h1 style="text-align: center">Aktiviteter</h1>
        <hr>
        <div th:if="${message}" th:text="${message}"/>
        <table style="border: 1px solid #d6d6d6; ">
            <tr>
                <th>Navn</th>


            </tr>
            <tr style="display: flex; text-align: center" th:each="activity : ${activities}">
                <td style="border: 1px solid black; border-radius: 8px; text-align: center; width: 200px" th:text="${activity.name}"></td>

            </tr>
        </table>
    </div>
</body>
</html>