<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style=" display: flex; justify-content: center; margin-top: 18%; background-color: #4fabff">
<div class="container">
    <form style="position: relative" method="Post" th:action="@{/login}">
        <p style="color: #edf6ff">Indtast brugernavn</p>
        <input required  type="text" th:field="${LoginModel.username}"/>
        <p style="color: #edf6ff">Indtast kode</p>
        <input required  type="password"  th:field="${LoginModel.password}"/>
        <br>
        <input style="position: absolute; top: 102%; left: 33%; text-align: center" type="submit"   value="Login"   />
    </form>
</div>
</body>
</html>